*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI;}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#667eea,#764ba2);
  padding:30px;
}

h1,h2{text-align:center;color:#fff;margin-bottom:10px}
.subtitle{text-align:center;color:#e0e0e0}

form{
  background:rgba(255,255,255,0.15);
  padding:25px;
  max-width:500px;
  margin:auto;
  border-radius:15px;
}

input,select,textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  background:#43cea2;
  border:none;
  color:white;
  font-weight:bold;
  border-radius:10px;
}

.issue-card{
  background:#fff;
  margin:15px auto;
  padding:15px;
  max-width:500px;
  border-radius:15px;
}

#imagePreview{
  width:100%;
  display:none;
  border-radius:10px;
  margin-top:10px;
}

.dashboard-btn{
  display:inline-block;
  padding:14px 30px;
  background:#ff512f;
  color:white;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}

.dashboard-btn-container{text-align:center;margin:30px}

.dark-mode{
  background:linear-gradient(135deg,#141e30,#243b55);
}

/* Campus Page */
.campus-page{
  background:url("campus.jpg") center/cover no-repeat;
}
.overlay{
  background:rgba(0,0,0,0.6);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
}
.logo{width:120px;margin-bottom:20px}
.enter-btn{
  margin-top:20px;
  padding:14px 30px;
  background:#43cea2;
  color:white;
  border-radius:30px;
  text-decoration:none;
}
