*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI;}

body{
  min-height:100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding:40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align:center;
  color:#ffffff;
  font-size:34px;
  margin-bottom:8px;
  letter-spacing:1px;
}

.subtitle{
  text-align:center;
  color:#cfd8dc;
  font-size:16px;
  margin-bottom:25px;
}

h2{
  color:#ffffff;
  text-align:center;
  margin-top:40px;
}


form{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding:30px;
  max-width:560px;
  margin:30px auto;
  border-radius:18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}


input, select, textarea{
  width:100%;
  padding:14px;
  margin:12px 0;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:15px;
}

button{
  width:100%;
  padding:14px;
  background: linear-gradient(135deg,#00c6ff,#0072ff);
  color:white;
  font-size:16px;
  font-weight:600;
  border-radius:30px;
  cursor:pointer;
  transition: all 0.3s ease;
}

button:hover{
  transform: translateY(-2px);
  box-shadow:0 12px 25px rgba(0,0,0,0.35);
}


#getLocationBtn{
  background:#185a9d;
}

.issue-card{
  background: rgba(255,255,255,0.95);
  margin:20px auto;
  padding:20px;
  max-width:560px;
  border-radius:16px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
  line-height:1.6;
}


#imagePreview{
  width:100%;
  display:none;
  border-radius:10px;
}

.dashboard-btn-container{text-align:center;margin:25px}

.dashboard-btn{
  padding:14px 30px;
  background:#ff512f;
  color:white;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;
}

.dark-mode{
  background:linear-gradient(135deg,#141e30,#243b55);
}

/* Campus Page */
.campus-page{
  background:url("campus.jpg") center/cover no-repeat;
}
.overlay{
  background:rgba(0,0,0,0.6);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
  text-align:center;
}
.logo{width:120px;margin-bottom:20px}
.enter-btn{
  margin-top:20px;
  padding:14px 30px;
  background:#43cea2;
  color:white;
  border-radius:30px;
  text-decoration:none;
}
.info-images{
  display:flex;
  flex-wrap:wrap;
  margin-top:10px;
  gap:10px;
}

.info-images img{
  width:150px;
  height:100px;
  object-fit:cover;
  border-radius:10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}
